<span class="content">
    <% if message.seen %>
  Seen
      <% else %>
  Not Seen
  <% end %>
  <%= link_to truncate(message.content, length: 10), message %></span>
<span class="timestamp">
  Received: <%= time_ago_in_words(message.created_at) %> ago.
  </span>
<% if current_user?(message.user) %>
    <%= link_to "delete", message, method: :delete,
                data: {confirm: "You sure?"},
                title: message.content %>
<% end %>

