<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<p>
  You have a new message.<br>
</p>

<p>
  To see the message, just follow this link: <%= notifications_url %>.
</p>
</body>
</html>